[submodule "QtUPnP"]
	path = lib/QtUPnP
	url = https://github.com/ptstream/QtUPnP
[submodule "lib/qsyncable"]
	path = lib/qsyncable
	url = https://github.com/benlau/qsyncable
[submodule "lib/SortFilterProxyModel"]
	path = lib/SortFilterProxyModel
	url = https://github.com/oKcerG/SortFilterProxyModel
